.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutproduct_image{
    object-fit: contain;
    width: 280px;
    height: 280px;
    margin-left: 15px;

}

.checkoutproduct_info{
    padding-left: 20px;
}

.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutproduct_rating{
    display: flex;
}


.checkoutproduct_info > button {
    background-color: orange;
    border: 2px solid;
    border-color:rgba(202, 121, 8, 0.951) ;
    margin-top: 15px;
    color: black;
}